<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Routing Activity</a>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul ngbNav #nav="ngbNav" class="navbar-nav mr-auto">
        <li ngbNavItem="home" class="nav-item active">
          <a ngbNavLink routerLink="/home" class="nav-link">Home</a>
        </li>
        <li ngbNavItem="contact" class="nav-item active">
          <a ngbNavLink routerLink="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>