<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Home Page.</h1>
            <p class="lead">I am a fourth-year Computer Science student with a strong passion for software development.
                I have developed a diverse technical skill set, allowing me to work on a range of projects, including
                backend systems, web applications, and mobile app development. As I transition into the professional
                world, I am eager to apply my knowledge, continue learning, and contribute to impactful, innovative
                projects.</p>
            <p class="lead">
                <a href="https://salangsangjohnpatrick.github.io/jpms-portfolio/" class="btn btn-lg btn-secondary">See more</a>
            </p>
        </main>
    </div>
</div>