<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Hello, JPMS.</h1>
            <p class="lead">What do you have in mind? Let's get started.</p>
            <p class="lead-btns">
                <a routerLink="/contact" class="btn btn-lg btn-secondary">Send mail</a>
                <a routerLink="/sent" class="btn btn-lg btn-secondary">See mails</a>
            </p>
        </main>
    </div>
</div>