<section class="Material-contact-section section-padding section-dark">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Send a message to:</h1>
      </div>
    </div>
    <div class="row">
      <!-- Section Title -->
      <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
        <div class="card shadow-sm rounded p-4">
          <p class="section-description mb-4 text-muted">To get in touch with somebody, fill the form to send an email
            with your inquiry.
            In your email, kindly include the following information:
          </p>

          <div class="find-widget mb-3">
            <strong class="find-widget-label">Name: </strong>
            <span class="find-widget-value text-black">{{ contactForm.get('name')?.value }}</span>
          </div>
          <div class="find-widget mb-3">
            <strong class="find-widget-label">Email: </strong>
            <span class="find-widget-value text-black">{{ contactForm.get('email')?.value
              }}</span>
          </div>
          <div class="find-widget mb-3">
            <strong class="find-widget-label">Subject: </strong>
            <span class="find-widget-value text-black">{{ contactForm.get('subject')?.value
              }}</span>
          </div>
          <div class="find-widget">
            <strong class="find-widget-label">Message: </strong>
            <span class="find-widget-value text-black">{{ contactForm.get('message')?.value
              }}</span>
          </div>
        </div>
      </div>

      <!-- contact form -->
      <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="shake" role="form" method="post"
          id="contactForm">
          <!-- Name -->
          <div class="form-group label-floating">
            <label class="control-label" for="name">Name</label>
            <input formControlName="name" class="form-control" type="text" id="name">
            <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.touched)"
              class="help-block with-errors text-danger">
              Name is required.
            </div>
          </div>

          <!-- Email -->
          <div class="form-group label-floating">
            <label class="control-label" for="email">Email</label>
            <input formControlName="email" class="form-control" type="email">
            <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.touched)"
              class="help-block with-errors text-danger">
              <div *ngIf="contactForm.get('email')?.hasError('required')">Email is required.</div>
              <div *ngIf="contactForm.get('email')?.hasError('email')">Please enter a valid email address.</div>
            </div>
          </div>

          <!-- Subject -->
          <div class="form-group label-floating">
            <label class="control-label">Subject</label>
            <input formControlName="subject" class="form-control" id="msg_subject" type="text">
            <div *ngIf="contactForm.get('subject')?.invalid && (contactForm.get('subject')?.touched)"
              class="help-block with-errors text-danger">
              Subject is required.
            </div>
          </div>

          <!-- Message -->
          <div class="form-group label-floating">
            <label for="message" class="control-label">Message</label>
            <textarea formControlName="message" class="form-control" id="message" rows="3"></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.touched)"
              class="help-block with-errors text-danger">
              Message is required.
            </div>
          </div>

          <!-- Form Submit -->
          <div class="form-submit mt-5">
            <button class="btn btn-dark" type="submit" [disabled]="contactForm.invalid" id="form-submit">
              <i class="material-icons mdi mdi-message-outline"></i> Send Mail
            </button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>